body {
    margin: 0;
    padding: 0;
    background:#262626;
}

.principal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.campo {
    display: block;
    width: 440px;
    line-height: 20px;
    margin: 20px 0;
    padding: 10px 5px;
    font-size: 14px;
    border: 0;
    border-bottom: 2px #fff solid;
    color: #fff;
    background: #262626;
}

.campos:focus {
    outline: none;
}

.conversa {
    width: 450px;
    height: 300px;
    background: #fff;
    color: #262626;
    font-size: 14px;
    font-family: verdana;
    overflow: auto;
    position: relative;
}

.conversa span {
    position: absolute;
    bottom: 5px;
    right: 3px;
    transition: all .5s ease-in-out;
    display: none;
}

.ativo {
    display: block;
}

.chat {
    border-radius: 5px;
    box-shadow: 0 0 6px #B2B2B2;
    display: inline-block;
    padding: 10px 18px;
    position: relative;
    vertical-align: top;
}

.bot {
    background: #3395d6;
    color: white;
    float: left;
    margin: 5px 20px 5px 45px;
}

.bot:after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-right-color: #3395d6;
    border-left: 0;
    border-top: 0;
    margin-top: -10px;
    margin-left: -20px;
}

.me {
    background: #EEE7E0;
    color: black;
    float: right;
    margin: 5px 45px 5px 20px;
}

.me:after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-left-color: #EEE7E0;
    border-right: 0;
    border-top: 0;
    margin-top: -10px;
    margin-right: -20px;
}

h2 {
    text-align: center;
    color: #fff;
    font-family: helvetica;
    text-transform: uppercase;
    font-size: 20px;
}

button {
    display: block;
    background: #86817C;
    font-size: 16px;
    color: #fff;
    padding: 10px 20px;
    border: 0;
    border-bottom: 2px #54504C solid;
    border-radius: 3px;
    position: relative;
    left: 40%;
    text-shadow: 0.05em 0.05em black;
}

button:hover {
    background: #54504C;
    cursor: pointer;
}