body {
	margin: 0;
	padding: 0;
	background: #3a3a3b;
}

.principal {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.campo {
	display: block;
	width: 440px;
	line-height: 20px;
	margin: 20px 0;
	padding: 10px 5px;
	font-size: 14px;
	border: 0;
	border-bottom: 2px #fff solid;
	color: #fff;
	background: #3a3a3b;
	outline: none;
}

input::placeholder {
	color: rgba(255, 255, 255, 0.5);
}

.conversa {
	width: 450px;
	height: 300px;
	background: #fff;
	color: #3a3a3b;
	font-size: 14px;
	font-family: verdana;
	overflow: auto;
	position: relative;
}

.conversa span {
	width: 90%;
	background-color: #fff;
	color: #000;
	position: fixed;
	bottom: 122px;
	left: 16px;
	transition: all 1s ease-in;
	display: none;
	z-index: 10;
	padding: 10px 0;
}

span.ativo {
	display: block;
}

.linha {
	display: flex;
	flex-direction: column;
}

.chat {
	border-radius: 5px;
	box-shadow: 0 0 6px #b2b2b2;
	display: inline-block;
	padding: 10px 18px;
	position: relative;
	vertical-align: top;
}

.bot {
	align-self: flex-start;
	background: #d3d3d3;
	color: black;
	float: left;
	margin: 5px 20px 5px 45px;
}

.bot:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-right-color: #d3d3d3;
	border-left: 0;
	border-top: 0;
	margin-top: -10px;
	margin-left: -20px;
}

.me {
	align-self: flex-end;
	background: #5cb85c;
	color: white;
	float: right;
	margin: 5px 45px 5px 20px;
}

.me:after {
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-left-color: #5cb85c;
	border-right: 0;
	border-top: 0;
	margin-top: -10px;
	margin-right: -20px;
}

h2 {
	text-align: center;
	color: #fff;
	font-family: helvetica;
	text-transform: uppercase;
	font-size: 20px;
}

button {
	display: block;
	background: #428bca;
	font-size: 16px;
	color: #fff;
	padding: 10px 20px;
	border: 0;
	border-bottom: 2px #428bca solid;
	border-radius: 3px;
	position: relative;
	left: 40%;
	text-shadow: 0.05em 0.05em grey;
}

button:hover {
	background: rgba(66, 139, 202, 0.8);
	cursor: pointer;
}
